/*GENERAL STYLES*/

body {
    background-color: #121417;
    text-align: center;
}

h1 {
    color:white;
    font-family:'Overpass', sans-serif;
}

p {
    color:#959eac;
    font-family:'Overpass', sans-serif;
}

/*MOBILE STYLES*/

.rating-component {
    background-color: #252d37;
    width:375px;
    margin:auto;
    padding:35px;
    border-radius: 5px;
}

figure {
    text-align: left;
    background-color: #4f5764;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.rating-numbers {
    text-align:center;
    color:#959eac;
    font-family: 'Overpass', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3em;
}

input[type=radio] {
    opacity:0;
    position:absolute;
  }

label {
    background-color: #4f5764;
    text-align: center;
    width:3em;
    height:3em;
    border-radius: 50%;
}

label:hover {
    background-color: #fb7413;
    color:white;
}

.submit-button {
    display:block;
    margin:auto;
    margin-top:35px;
    background-color: #fb7413;
    width:100%;
    padding:10px;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
    color:white;
    border:none;
}

.submit-button:hover {
    background-color: white;
    color:#fb7413;
}

.thank-you {
    background-color: #252d37;
    width:375px;
    margin:auto;
    padding:35px;
    display:none;
}



